@font-face {
  font-family: "Dehuti";
  src: url("../fonts/dehuti.woff2") format("woff2"),
       url("../fonts/dehuti.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum-regular.woff2") format("woff2"),
       url("../fonts/cuprum-regular.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/cuprum-bold.woff2") format("woff2"),
       url("../fonts/cuprum-bold.woff") format("woff");
}

@font-face {
  font-family: "Zlatoust";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/zlatoust.woff2") format("woff2"),
       url("../fonts/zlatoust.woff") format("woff");
}
