    </main>
    <footer class="page-footer">
      <nav class="mobile-nav mobile-nav--bottom">
        <ul class="mobile-nav__items">
          <li class="mobile-nav__item">
            <button class="mobile-nav__link mobile-nav__link--prev-chapter" id="lnk-prev-chapter"></button>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" id="lnk-to-top" href="#top">
              <i class="css-icon css-icon--up"></i>
            </a>
          </li>
          <li class="mobile-nav__item">
            <button class="mobile-nav__link mobile-nav__link--next-chapter" id="lnk-next-chapter"></button>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
  <div class="popup-screen" id="popup-settings">
    <nav class="mobile-nav mobile-nav--top-main">
      <ul class="mobile-nav__items">
        <li class="mobile-nav__item">
          <button class="mobile-nav__link" id="lnk-settings-close">
            <i class="css-icon css-icon--orthodoxy"></i>
          </button>
        </li>
      </ul>
    </nav>
    <div class="settings">
      <fieldset class="settings__block">
        <legend class="settings__block-title">
          <span class="lang-ru">Тип шрифта</span>
          <span class="lang-en">Font family</span>
        </legend>
        <div class="settings__controls">
          <button class="settings__button settings__button--text" id="lnk-font-serif">
            PT Serif
          </button>
          <button class="settings__button settings__button--text" id="lnk-font-sans">
            PT Sans
          </button>
        </div>
      </fieldset>
      <fieldset class="settings__block">
        <legend class="settings__block-title">
          <span class="lang-ru">Размер шрифта</span>
          <span class="lang-en">Font size</span>
        </legend>
        <div class="settings__controls">
          <button class="settings__button" id="lnk-font-size-decrease">
            <i class="css-icon css-icon--minus-fill"></i>
          </button>
          <button class="settings__button" id="lnk-font-size-increase">
            <i class="css-icon css-icon--plus-fill"></i>
          </button>
        </div>
      </fieldset>
      <fieldset class="settings__block">
        <legend class="settings__block-title">
          <span class="lang-ru">Язык</span>
          <span class="lang-en">Language</span>
        </legend>
        <div class="settings__controls">
          <button class="settings__button settings__button--text" id="lnk-lang-ru">
            <span class="lang-ru">Русский</span>
            <span class="lang-en">Russian</span>
          </button>
          <button class="settings__button settings__button--text" id="lnk-lang-en">
            English
          </button>
        </div>
      </fieldset>
      <fieldset class="settings__block">
        <legend class="settings__block-title">
          <span class="lang-ru">Цветовая схема</span>
          <span class="lang-en">Color scheme</span>
        </legend>
        <div class="settings__controls">
          <button class="settings__button settings__button--text" id="lnk-color-scheme-1">
            <span class="lang-ru">Синяя</span>
            <span class="lang-en">Blue</span>
          </button>
          <button class="settings__button settings__button--text" id="lnk-color-scheme-2">
            <span class="lang-ru">Красная</span>
            <span class="lang-en">Red</span>
          </button>
          <button class="settings__button settings__button--text" id="lnk-color-scheme-3">
            <span class="lang-ru">Зеленая</span>
            <span class="lang-en">Green</span>
          </button>
        </div>
      </fieldset>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/script-book.min.js"></script>
</body>
</html>
