.book-list {
  .reset-list();
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--firstpage {
    top: 340px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &--prayers {
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__item {
    .reset-spaces();
    margin: 0 auto;
    margin-top: 10px;
    width: 120px;

    &--prayers {
      width: 220px;
    }
  }

  &__link {
    .reset-button();
    .btn-common();
    .btn-light();
    font-family: @title-font-family;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: @lightest-color;

    &--prayers {
      font-size: @smaller-font-size;
    }
  }
}
