/////*** MEDIA ***/////
@mobile-widths: e("(max-width: 500px)");
@tablet-widths: e("(min-width: 501px)");
@desktop-widths: e("(min-width: 801px)");

/////*** FONTS ***/////
@base-font-family: "PT Serif", Georgia, serif;
@alt-font-family: "PT Sans", Arial, sans-serif;
@service-font-family: "Cuprum", Arial, sans-serif;
@base-font-size: 16px;
@smaller-font-size: 0.8em;
@service-font-size: 14px;
@title-font-family: "Zlatoust", Arial, sans-serif;
@title-font-size-mobile: 24px;
@title-font-size-tablet: 30px;

/////*** COLORS ***/////
@base-bg-color: hsla(@base-hue, 10%, 57%, 1.0);
@alt-bg-color: hsla(@base-hue, 16%, 80%, 1.0);
@base-text-color: hsla(@base-hue, 41%, 19%, 1.0);
@alt-text-color: hsla(0, 95%, 28%, 1.0);
@transparent-light-color: hsla(0, 0%, 100%, 0.5);
@transparent-dark-color: hsla(@base-hue, 41%, 19%, 0.9);
@lightest-color: #ffffff;

/////*** ICONS ***/////
@icon-size: 32px;
@icon-color: hsla(@base-hue, 10%, 44%, 1.0);
@icon-bg-color: @base-bg-color;
