@font-face {
  font-family: "PT Serif";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptserif-normal.woff2") format("woff2"),
       url("../fonts/ptserif-normal.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/ptserif-italic.woff2") format("woff2"),
       url("../fonts/ptserif-italic.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptserif-bold.woff2") format("woff2"),
       url("../fonts/ptserif-bold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsans-normal.woff2") format("woff2"),
       url("../fonts/ptsans-normal.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/ptsans-italic.woff2") format("woff2"),
       url("../fonts/ptsans-italic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptsans-bold.woff2") format("woff2"),
       url("../fonts/ptsans-bold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum-regular.woff2") format("woff2"),
       url("../fonts/cuprum-regular.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/cuprum-bold.woff2") format("woff2"),
       url("../fonts/cuprum-bold.woff") format("woff");
}

@font-face {
  font-family: "Zlatoust";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/zlatoust.woff2") format("woff2"),
       url("../fonts/zlatoust.woff") format("woff");
}
